<div class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-left" href="#">
                <span>Open Network Insights</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Suspicious Connects</a></li>
                <li><a href="#">Threat Investigation</a></li>
                <li><a href="#">Story Board</a></li>
                <li><a href="#">Netflow Ingest<br></a></li>
            </ul>
        </div>
</div>