<div class="panel panel-default" style="min-height: 42%; max-height: 42%;">
    <!-- Default panel contents -->
    <div class="panel-heading">Playbook<span class="pull-right fa fa-gear"></span></div>
    <div class="panel-body">
        <h1>Heading</h1><pre><code>&lt;section&gt;</code></pre>
        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            <br> Ut enim ad minim veniam, quis nostrud </p>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="inputEmail3" class="control-label">IP</label>
                </div>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <label for="inputPassword3" class="control-label">Indicator</label>
                </div>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
               <uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
                </div>
            </div>
        </form><pre><code>&lt;section&gt;</code></pre>
        <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
            <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            <br>
        </p>
    </div>
</div>