.navbar, .section {
    padding-left: 10px;
    padding-right: 10px;
}

#circle circle {
    fill: none;
    pointer-events: all;
}

.group path {
    fill-opacity: .5;
}

path.chord {
    stroke: #000;
    stroke-width: .25px;
}

#circle:hover path.fade {
    display: none;
}

.node {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.padding0 {
    padding: 0;
}

.link {
    stroke: #999;
    stroke-width: 3px;
    transition: stroke .5s linear;
}

.link-highlight {
    stroke-width: 3px;
}

.link-faded {
    stroke-opacity: 0.2 !important;
}

.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.node-label {
    position: absolute;
    z-index: 10;
    visibility: hidden;
    background: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    font-family: verdana, san-serif;
    padding: 10px;
}

.node-faded {
    fill-opacity: 0.2 !important;
    stroke-opacity: 0.2 !important;
}
#sconnects-data{
    overflow:hidden;
}
.d3-context-menu {
	position: absolute;
	display: none;
	background-color: #f2f2f2;
	border-radius: 4px;

	font-family: Arial, sans-serif;
	font-size: 14px;
	min-width: 150px;
	border: 1px solid #d4d4d4;

	z-index:1200;
}

.d3-context-menu ul {
	list-style-type: none;
	margin: 4px 0px;
	padding: 0px;
	cursor: default;
}

.d3-context-menu ul li {
	padding: 4px 16px;
}

.d3-context-menu ul li:hover {
	background-color: #4677f8;
	color: #fefefe;
}

